<ion-view view-title="Language">
  <ion-content padding="true">
    <div id="container">
      <h1 class="main-heading">Change your language</h1>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Language
          </div>
          <select>
            <option>Nederlands</option>
            <option selected>English</option>
            <option>Francais</option>
            <option>Deutsch</option>
          </select>
        </label>
      </div>
      <!-- <div id="dropdown">
          <select class="cd-select" id="cd-dropdown">
            <option selected value="-1">
              Kies een taal
            </option>
            <option value="1">
              Nederlands
            </option>
            <option value="2">
              English
            </option>
            <option value="3">
              Francais
            </option>
          </select>
        </div> -->
      </div>
  </ion-content>
</ion-view>