<ion-view title="Login" left-buttons="leftButtons" right-buttons="rightButtons">
  <ion-content has-header="true">
    <div id="login-img"><img src="img/heart.png"></div>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="user.username">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="{{inputType}}"/>
        
      </label>
      <div id="password-toggle">
      <label for="checkbox" ng-if="passwordCheckbox">
        Show password</label>
      <label for="checkbox" ng-if="!passwordCheckbox">
        Show password</label>  
      <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
      </div>
    </div>
    <div class="padding">
      <button class="button button-block button-dark" ng-click="login(user)">
        Login
      </button>
    </div>

    <!-- <div class="list-inset">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="user.username">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="{{inputType}}"/>
        
      </label>
      <div id="password-toggle">
      <label for="checkbox" ng-if="passwordCheckbox">
        Show password</label>
      <label for="checkbox" ng-if="!passwordCheckbox">
        Show password</label>  
      <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
      </div>
    </div>
    <div class="padding">
      <button class="button button-block button-dark" ng-click="login(user)">
        Login
      </button>
    </div> -->
  </ion-content>
</ion-view>