<ion-view view-title="Notifications">
  <ion-content padding="true">
  <div id="container">
    <div class="notifications">
    	<div ng-show="showadmin">
    		<h3>Admin functionality</h3>
			<button class="button button-block button-positive ion-android-create" ng-click="createNotification()">
			Create notification
			</button>
			<p class="quote">Your latest entries:</p>
		    <div class="flash-alert" ng-show="allNotifications.length==0">
		      <p>You don't have any entries yet.</p>
		    </div>
		    <div class="states" ng-repeat="notification in allNotifications | orderBy:'-created_at' | limitTo:10">
			    <a class="item item-avatar">
				    <img ng-src="img/expressions/{{notification.category.name}}.png">
				    <h2>{{notification.title}}</h2>
				    <p class="quote">{{notification.text}}</p>
			    </a>
			</div>
    	</div>
    	<div ng-show="!showadmin">
	    	<h3>Check your notifications</h3>
		    <a class="item item-avatar" href="#/app/issues/{{item.id}}">
			    <img src="img/smiley.png">
			    <h2>Topic</h2>
			    <p>Text</p>
		    </a>
	    </div>
	</div>
	</div>
  </ion-content>
</ion-view>
