.cap{
	text-transform: capitalize;
}

.quote{
	//color:$concrete;
	color:$asbestos;
	font-family:$light-font;
	//font-family:$hairline-font;
	//font-family:$lato-light-font;
	//font-family:$lato-regular-font;
}

.emphasis{
	color:$positive;
	//font-family:$lato-bold-font;
	font-family:$regular-font;
}

.help-block{
	color:$assertive;
	font-family:$lato-regular-font;
	font-size:$font-size-small;
	// margin-left:1.3em;
	// margin-top:0.1em;
	padding: 6px 0px 0px 16px;
}

.success-block{
	color:$positive;
	//font-family:$lato-regular-font;
	font-family:$light-font;
	//font-family:$hairline-font;
	font-size:$font-size-small;
	padding: 6px 0px 0px 16px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{
	//color:$concrete;
	//color:$asbestos;
	//font-family:$lato-light-font;
	//font-family:$lato-regular-font;
	font-family:$light-font;
	//font-family:$hairline-font;
}